html {
	height: auto; /* Reset explicit height if set */
	margin: 0; /* Reset margins */
	padding: 0; /* Reset paddings */
}

body {
	/*background-image: url(background.jpg);*/
    background-color: grey;
	font-family: 'Montserrat', sans-serif;
	line-height: 1.6;
	margin: 0;
	width:auto;
    background-size: 100%;
}


.piece {
    cursor: pointer;
}

button {
	font-size:30px;
	border: none;
	background: none;
	cursor: pointer;
	position: fixed;
	
}

#question {
	top: 5px;
	right: 5px;
}

#home {
	top: 5px;
	left: 5px;
}

/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
/* Modal Content/Box */
.modal-content {
	background-color:  rgb(40, 40,40);
	margin: 5% auto; /* 15% from the top and centered */
	padding: 20px;
	border: 1px solid #888;
	width: 80%; /* Could be more or less, depending on screen size */
}
  

#info {
    position: absolute;
    width: auto;
    height: auto;
    padding: 10px;
    background-color:  rgb(40, 40,40);
	border: 1px solid #888;/*
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    pointer-events: none;*/
    opacity: 0;
	transition: opacity 0.5s ease;
}


/* The Close Button */
.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}
  
.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

p {
	color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    font-style: normal;
    font-size: 1.5vw;
    text-align: left;
}

h1 {
	color: white;
    /*font-family: "Pinyon Script", cursive;*/
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    font-style: normal;
    font-size: 2vw;
    text-align: center;
}

.image-container {
    position: relative;
    width: 100%;
}

.image-container img {
    width: 100%;
    height: auto;
}

.clickable-map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.clickable-map a {
    cursor: pointer;
}

/* Define styles for different regions if needed */
.clickable-map #region1 {
    fill: rgba(255, 0, 0, 0.5); /* Example styling */
}


.Bikepart {
	fill: transparent;
}




