html {
	height: auto; /* Reset explicit height if set */
	margin: 0; /* Reset margins */
	padding: 0; /* Reset paddings */
}

body {
	background-color: rgb(40, 40,40);
	font-family: 'Montserrat', sans-serif;
	line-height: 1.6;
	margin: 0;
	height: 500px;
}

.welcome {
    color: white;
    /*font-family: "Pinyon Script", cursive;*/
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    font-style: normal;
    font-size: 5vw;
    text-align: center;
    margin-top: 7%;
}

#welwhere {
    font-size:2.5vw;
}

#welwho {
    font-size: 7vw;
    font-weight: 520;
    line-height: 180%;
}

#link {
    color: white;
    font-size:2vw;
}

label {
    font-size: 2vw;
    display: block;
    text-align: left;
    width: 40%;
}

input {
    height: 2.2vw;
    width: 40%;
    background-color: grey;
}

input[type="text"], input[type="email"] {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    font-style: normal;
    font-size: 1.5vw;
    text-align: left;
}

.LabelAndInput {
    display: flex;
    align-items: center;    
    margin-bottom: 3%;
}

.Form{
    margin-left: 20%;
}

#AbschickKnopf {
    text-align: right;
    margin-right: 20%;
}

#abschicken {
    background-color: gray;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    font-style: normal;
    font-size: 1.5vw;
    text-align: left;
    cursor: pointer;
}

#abschicken:hover {
    color: red;
} 