html {
	height: auto; /* Reset explicit height if set */
	margin: 0; /* Reset margins */
	padding: 0; /* Reset paddings */
}

body {
	background-color: rgb(40, 40,40);
	font-family: 'Montserrat', sans-serif;
	line-height: 1.6;
	margin: 0;
	height: 500px;
}

.welcome {
    color: white;
    /*font-family: "Pinyon Script", cursive;*/
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    font-style: normal;
    font-size: 3.5vw;
    text-align: center;
    margin-top: 5%;
}

#hello {
    margin-bottom: 6vw;
}

#welwhere {
    margin-top: 3vw;
    font-size:2.5vw;
}

#welwho {
    font-size: 7vw;
    font-weight: 520;
    line-height: 180%;
}

.link {
    color: white;
    font-size:2vw;
}

label {
    font-size: 2vw;
    display: block;
    text-align: left;
    width: 30%;
}

input, textarea {
    height: 2.2vw;
    width: 55%;
    background-color: grey;
    resize: none;
}

input, textarea {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    font-style: normal;
    font-size: 1.5vw;
    text-align: left;
    margin-top: 0.5vw;
    padding-left: 0.5vw;
}

textarea::placeholder, input::placeholder {
    color: lightgray;
}

.LabelAndInput {
    display: flex;
    align-items: flex-start;    
    margin-bottom: 3%;
    flex-direction: row;
}

#Content {
    display: flex;
    width: 100%;
    margin-top: 4%;
    margin-bottom: 0%;
}


#explanations {
    flex: 1;
    font-size: 1.7vw;
    text-align: left;
    margin-left:6%;
    margin-right: 3%;
}


.Form{
    margin-left: 2vw;
    flex: 1.7;
    overflow: hidden;
}

#Mitteilung {
    height: 8vw;
}


#AbschickKnopf {
    text-align: right;
    margin-right: 15%;
}

p {
    margin: 0;
}

#abschicken {
    background-color: gray;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    font-style: normal;
    font-size: 1.5vw;
    text-align: left;
    cursor: pointer;
}

#abschicken:hover {
    color: red;
} 

.sunflower {
    position: absolute;
    width: 4vw;  /* Adjust size as needed */
    transition: transform 3s ease-in-out, opacity 3s ease-in-out;
    opacity: 1;
    pointer-events: none;  /* Ensures the animation isn't interruptible by mouse interactions */
}

#animationContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    pointer-events: none;
}

.sunflowers {
    height: 9vw;
    position: fixed;
}


#rightsunflower {
	top: 2vw;
	right: 1vw;
}

#leftsunflower {
	top: 2vw;
	left: 1vw;
}

#schlemm {
    margin-top:4.7vw ;
}